* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
}

body{
  margin-bottom: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2% 2% 0 2%;
  align-items: baseline;
  border-style: solid;
}

header h1 {
  font-size: 27pt;
  padding-left: 1%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li span {
  padding: 0 20px;
  font-size: 18pt;
  color:blue;
}

header nav ul li span:hover {
  color: purple;
}

section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

section div {
  flex: 1 80%;
  align-self: center;
}

p {
  font-size: 14pt;
}

.mainContents p {
  text-align: left;
}

h2 {
  font-size: 22pt;
  text-align: center;
}

.leftHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 20%;
  flex-wrap: nowrap;
}

.myImg {
  width: 85%;
}

.mainContents {
  border-left: 2px solid black;
  padding: 2% 2% 2% 1%;
}

.mainContents img {
  width: 75%;
}

.past-work {
  text-align: center;
}

.topProject {
  width: 85%;
  height: auto;
  padding: 1% 4%;
  margin: 1% 0;
}

h3 {
  font-size: 14pt;
  text-align: center;
  margin: 15px 0 0 0;
}

.other-projects img {
  width: 45%;
  height: auto;
  margin: 1% 0;
  background-color: black;
}

.other-projects div {
  display: inline;
}

footer {
  padding-top: 1%;
  text-align: center;
  border-top: 2px solid black;
}

h4 {
  text-align: center;
}

.certifications {
  width: 85%;
}

.carouselHolding {
  width: 75vw;
}

.carouselHolding p {
  margin-top: 8px;
}

.alice-carousel__dots li {
  font-size: 15pt;
  color: blue;
  margin: 3px;
  text-decoration: underline;
}

.alice-carousel__dots li:hover {
  color: purple;
}

.alice-carousel__prev-btn {
  color: blue;
  text-decoration: underline;
  text-align: center !important;
  font-size: 14pt;
}

.alice-carousel__next-btn {
  color: blue;
  text-decoration: underline;
  font-size: 14pt;
}

.alice-carousel__prev-btn:hover {
  color: purple;
}

.alice-carousel__next-btn:hover {
  color: purple;
}